// todo *Functions*

//to %
@function prc($pxOne, $pxTwo) {
	$result: math.div($pxOne, $pxTwo) * 100%;
	@return $result;
}

//to REM
@function rem($px) {
	@if unit($px) == rem {
		@return $px;
	}
	@return math.div($px, 16) * 1rem;
}

//to EM
@function em($px, $baseFontSize) {
	@if unitless($px) {
		$px: $px * 1px;
	}
	@if unitless($baseFontSize) {
		$baseFontSize: $baseFontSize * 1px;
	}
	@return math.div($px, $baseFontSize) * 1em;
}

