.checkbox {
	position: relative;
	// .checkbox__input
	&__input {
		position: absolute;
		width: 0;
		height: 0;
		opacity: 0;
		&:focus + .checkbox__label:before {
			//box-shadow: 0 0 5px #000;
		}
		&:checked + .checkbox__label:after {
			transform: scale(1);
		}
	}
	// .checkbox__label
	&__label {
		cursor: pointer;
		display: inline-flex;
		align-items: center;
		position: relative;
		gap: 10px;
        position: relative;
		&:before {
			content: "";
			align-self: flex-start;
			flex: 0 0 rem(20);
			width: rem(20);
			height: rem(20);
			border: rem(1) solid $color-grey;
            border-radius: 50%;

		}
        &::after{
            content:'';
            position: absolute;
            width: rem(14);
			height: rem(14);
            top: rem(3);
            left: rem(3);
            //background-color: $color-red;
			background-color: $color-grey;
            transform: scale(0);
            border-radius: 50%;
            transition: all 0.3s ease 0s;
        }
	}
	// .checkbox__text
	&__text {
        small {
            color: $color-red;
			padding-left: rem(5);
        }
	}
}
