
.breadcrumbs {
    white-space: nowrap;
    overflow: auto;
    height: rem(22);
    // .breadcrumbs__list
    &__list {
        display: flex;
    }

    // .breadcrumbs__item
    &__item {

    }

    // .breadcrumbs__link
    &__link {
        display: flex;
        align-items: center;
        color: $mainColor;
        &::after{
            content: "\e913";
            @extend %ic;
            margin: 0 em(10, 18);
        }
    }

    // .breadcrumbs__current
    &__current {
        color: $color-red;
    }
}

.catalog {
    @include adaptive-value("padding-bottom", 120, 40);
    // .catalog__container
    &__container {
    }

    // .catalog__body
    &__body {
        display: grid;
        grid-template-columns: rem(350) 1fr;
        gap: rem(30);
    }

    // .catalog__filter
    &__filter {
    }

    // .catalog__content
    &__content {
    }

    // .catalog__control
    &__control {
        display: flex;
        justify-content: flex-end;
        &:not(:last-child) {margin-bottom: rem(20);}
    }

    // .catalog__products
    &__products {
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(rem(290), rem(300)));
        @include adaptive-value("gap", 30, 20);
        &:not(:last-child) {
            @include adaptive-value("margin-bottom", 60, 30);
        }
    }

    // .catalog__footer
    &__footer {
        display: flex;
        align-items: center;
        justify-content: space-between;
        gap: rem(20);
    }

    // .catalog__more
    &__more {
    }
    
    // .catalog__paggination
    &__paggination {
    }
}


.filter-catalog {
    border: rem(1) solid $color-silver;
    background-color: #fefefe;
    box-shadow: 0 rem(5) rem(20) rgba(0, 0, 0, 0.08);
    // .filter-catalog__title
    &__title {
        background-color: $color-black;
        color: #fff;
        font-weight: 600;
        font-size: rem(20);
        line-height: math.div(27 , 20);
        padding: rem(20) rem(30);
    }

    // .filter-catalog__items
    &__items {
    }

    // .filter-catalog__price
    &__price {
    }

}
.price-filter {
    padding: rem(30);
    // .price-filter__title
    &__title {
        display: inline-flex;
        align-items: center;
        flex-direction: row-reverse;
        justify-content: space-between;
        font-size: rem(20);
        width: 100%;
        &::before{
            font-size: rem(18);    
            color: $color-red;
            transition: all 0.3s ease 0s;
        }
        &._active {
            &::before{
                transform: rotate(-180deg);
            }
        }
    }

    // .price-filter__body
    &__body {
        padding: rem(30) 0 0 0;
    }

    // .price-filter__inputs
    &__inputs {
        display: flex;
        align-items: center;
        border: rem(1) solid $color-grey;
        border-radius: rem(5);
        overflow: hidden;
        &:not(:last-child) {margin-bottom: rem(40);}
    }

    // .price-filter__input
    &__input {
        width: 50%;
        height: rem(42);
        padding: 0 rem(15);
        &:first-child{
            border-right: rem(1) solid $color-grey;
        }
    }

    // .price-filter__range
    &__range {
    }
}



.paggination {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    gap: rem(10);
    // .paggination__arrow
    &__arrow {
        font-size: rem(18);
    }

    // .paggination__arrow-left
    &__arrow-left {
        transform: rotate(180deg);
    }

    // .paggination__arrow-right
    &__arrow-right {
    }

    // .paggination__list
    &__list {
        display: flex;
        gap: rem(10);
        align-items: center;
    }

    // .paggination__item
    &__item {
    }

    // .paggination__link
    &__link {
        display: flex;
        justify-content: center;
        align-items: center;
        width: rem(35); 
        height: rem(35);
        border-radius: 50%;
        color: $mainColor;
        transition: all 0.3s ease 0s;
        &._active{
            background-color: $color-red;
            color: #fff;
        }
        @media (any-hover: hover){
            &:hover{
                background-color: $color-red;
                color: #fff;
            }
        }
    }

}



