
.breadcrumbs {
    white-space: nowrap;
    overflow: auto;
    height: rem(22);
    // .breadcrumbs__list
    &__list {
        display: flex;
    }

    // .breadcrumbs__item
    &__item {

    }

    // .breadcrumbs__link
    &__link {
        display: flex;
        align-items: center;
        color: $mainColor;
        &::after{
            content: "\e913";
            @extend %ic;
            margin: 0 em(10, 18);
        }
    }

    // .breadcrumbs__current
    &__current {
        color: $color-red;
    }
}

.catalog {

    // .catalog__container
    &__container {
    }

    // .catalog__body
    &__body {
        display: grid;
        grid-template-columns: rem(375) 1fr;
        gap: rem(30);
    }

    // .catalog__filter
    &__filter {
    }

    // .catalog__content
    &__content {
    }

    // .catalog__control
    &__control {
        display: flex;
        justify-content: flex-end;
        &:not(:last-child) {margin-bottom: rem(20);}
    }

    // .catalog__products
    &__products {
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(rem(290), rem(375)));
        gap: rem(30);
    }

    // .catalog__footer
    &__footer {
    }

    // .catalog__more
    &__more {
    }
    
    // .catalog__paggination
    &__paggination {
    }
}


.paggination {

    // .paggination__arrow
    &__arrow {
    }

    // .paggination__arrow-left
    &__arrow-left {
    }

    // .paggination__list
    &__list {
    }

    // .paggination__item
    &__item {
    }

    // .paggination__link
    &__link {
    }

    // .paggination__arrow-right
    &__arrow-right {
    }
}



