.footer {
    background-color: $color-black;
    // .footer__container
    &__container {
    }

    // .footer__body
    &__body {
    }
}
.body-footer {
    @include adaptive-value("padding-top", 80, 30);
    @include adaptive-value("padding-bottom", 55, 30);
    display: grid;
    @include adaptive-value("gap", 45, 20);
    // .body-footer__row
    &__row {
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(rem(290), 1fr));
        column-gap: rem(40);
        @include adaptive-value("row-gap", 30, 25);
        &:not(:last-child) {
            padding-bottom: rem(30);
            border-bottom: 1px solid $color-silver;
        }
    }

    // .body-footer__item
    &__item {
    }
}
.item-footer {

    // .item-footer_spoller
    &_spoller {
    }
}

.footer-menu {

    // .footer-menu__list
    &__list {
    }

    // .footer-menu__item
    &__item {
        &:not(:last-child) {margin-bottom: rem(18);}
        & p {
            color: #fff;
        }
    }

    // .footer-menu__link
    &__link {
        line-height: math.div(30 , 18);
        color: #fff;
        font-weight: 500;
        border-bottom: 1px solid transparent;
        transition: all 0.3s ease 0s;
        display: inline-flex;
        align-items: center;
        &::before {
            font-size: rem(24);
            margin: 0 em(10,24) 0 0;
        }
        @media (any-hover: hover){
            &:hover{
                border-bottom: 1px solid $color-silver;
            }
        }
    }
    // .footer-menu__link-free-phone
    &__link-free-phone {
        color: #fff;
        font-size: rem(16);
        margin-top: rem(5);
    }
    // .footer-menu__link-shedule
    &__link-shedule {
        color: #fff;
        font-size: rem(16);
        margin-top: rem(5);
    }
}

.footer-location {
    position: relative;
    z-index: 5;
    // .footer-location__items
    &__items {
    }

    // .footer-location__item
    &__item {
        display: flex;
        position: relative;
        color: #fff;
    }

    // .footer-location__title
    &__title {
        line-height: math.div(30 , 18);
        color: #fff;
        font-weight: 500;
        border-bottom: 1px solid transparent;
        transition: all 0.3s ease 0s;
        display: inline-flex;
        align-items: center;
        &::before {
            font-size: rem(24);
            margin: 0 em(10,24) 0 0;
        }
        @media (any-hover: hover){
            &:hover{
                border-bottom: 1px solid $color-silver;
            }
        }
    }

    // .footer-location__icon
    &__icon {
        position: relative;
        width: rem(30);
        &::before {
            content: "\e912";
            @extend %ic;
            position: absolute;
            left: 0;
            top: 50%;
            transform: translateY(-50%);
            font-size: rem(20);
            transition: transform 0.5s ease 0s;
            padding: rem(5);
            color: #fff;
        }
        &._active {
            transform: rotate(-180deg);
        }
        
    }

    // .footer-location__list
    &__list {
        overflow: auto;
        position: absolute;
        top: 100%;
        left: 0;
        z-index: 2;
        width: 100%;
        @include adaptive-value("height", 300, 200, 992, 320, 1);
        margin-top: rem(5);
        padding: 0 rem(15);
        @include adaptive-value("padding-top", 30, 15);
        @include adaptive-value("padding-bottom", 30, 15);
        background-color: #fff;
        border-radius: rem(3);
        box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
        & li {
            &:not(:last-child) {margin-bottom: rem(15);}
        }
    }

    // .footer-location__li
    &__li {

        @media (min-width: #{$tablet + px}){
              display: flex;
              align-items: center;
              justify-content: space-between;
              gap: rem(10);
        }
        @media (min-width: #{$pc + px}){
            display: block;
        }
    }

    // .footer-location__city
    &__city {
        color: $mainColor;
        font-weight: 600;
        padding-bottom: rem(10);
    }

    // .footer-location__phone
    &__phone {
        color: $mainColor;
        white-space: nowrap;
    }
}
