.products-recommend {

    // .products-recommend__container
    &__container {
    }

    // .products-recommend__header
    &__header {
        &:not(:last-child) {
            @include adaptive-value("margin-bottom", 40, 25);
        }
        display: flex;
        justify-content: space-between;
        align-items: center;
        gap: rem(20);
    }

    // .products-recommend__title
    &__title {
        font-weight: 700;
        @include adaptive-value("font-size", 30, 22, 992, 320, 1);
        line-height: math.div(46 , 30);
        letter-spacing: 0.05em;
    }

    // .products-recommend__btns
    &__btns {
        display: flex;
        align-items: center;
        width: rem(50);
        justify-content: space-between;
        @media (max-width:#{$tablet + px}){
            width: auto;
        }
    }

	// .products-recommend__arrows
	&__arrows {
        position: relative;
        @media (max-width:#{$tablet + px}){
            display: none;
        }
	}

    // .products-recommend__more
    &__more {
        &::before{
            font-size: rem(18);
            color: $color-grey;
            transition: all 0.3s ease 0s;
            @media (max-width:#{$tablet + px}){
                transform: scale(1.15);
                color: rgba(0, 0, 0, 1);
            }
         }
        @media (any-hover: hover){
            &:hover{
                color: rgba(0, 0, 0, 1);
                &::before {
                    transform: scale(1.15);
                    color: rgba(0, 0, 0, 1);
                }
            }
        }

    }

    // .products-recommend__slider
    &__slider {
        padding: rem(25) rem(15);
        margin: 0 rem(-15);
    }

    // .products-recommend__swiper
    &__swiper {
        &:not(:last-child) {@include adaptive-value("margin-bottom", 50, 30);}
    }

    // .products-recommend__slide
    &__slide {        
    }

    // .products-recommend__dotts
    &__dotts {
        transform: translate(0px, 10%);
        display: grid;
        grid-auto-flow: column;
        justify-content: center;
        //gap: rem(20);
        margin: 0 auto;
        overflow: hidden;
        .swiper-pagination-bullet {
            margin: 0 rem(10);
            cursor: pointer;
            height: rem(30);
            width: rem(20);
            position: relative;
            transition: all 0.3s ease 0s;
            &::after{
                content:'';
                position: absolute;
                height: rem(3);
                width: 100%;
                top: 50%;
                transform: translateY(-50%);
                background-color: $color-silver;
                transition: all 0.3s ease 0s;
            }
            &::before{
                content:'';
                position: absolute;  
                z-index: 2;
                top: 50%;
                left: 0;
                height: rem(10);
                width: rem(2);
                transform: translateY(-50%);
                background-color: $color-red;
                box-shadow: 0 0 rem(20) rem(3) rgba(248, 30, 30, 0.4);
                opacity: 0;
            }
        }
        .swiper-pagination-bullet-active {
            width: rem(35);
            &::after{
                background-color: $color-red;
            }
            &::before{
                left: rem(35);
                opacity: 1;
                transition: left 8s linear 0s;
            }
        }
    }
}
