.page {


}
.product-page {
        // .product-page__container
    &__container {
    }

    // .product-page__main
    &__main {
    }
}
.main-product {
    display: grid;
    align-items: start;
    row-gap: rem(20);
    @include adaptive-value("padding-bottom", 120, 40);
    @media (min-width: #{$tablet + px}){
        grid-template-columns: prc(700, $maxWidthContainer) 1fr;
    }

    // .main-product__imgs
    &__imgs {
        @media (min-width: #{$tablet + px}){
            padding-right: rem(30);
        }
    }

    // .main-product__body
    &__body {
    }
}
.imgs-product {
    display: grid;
    gap: rem(16);
    // .imgs-product__slider
    &__slider {
    }

    // .imgs-product__swiper
    &__swiper {
    }

    // .imgs-product__slide
    &__slide {
        padding-bottom: prc(580,750);
    }

    // .imgs-product__thumbs
    &__thumbs {
    }
}

.thumbs-imgs {

    // .thumbs-imgs__swiper
    &__swiper {
    }

    // .thumbs-imgs__slide
    &__slide {
        //padding-bottom: prc(180,200);
        width: rem(150);
        height: rem(150);
        @include adaptive-value("width", 150, 100, 1370, 320, 1);
        @include adaptive-value("height", 150, 100, 1370, 320, 1);
        cursor: pointer;
        opacity: 0.8;
        transition: all 0.3s ease 0s;
        &.swiper-slide-thumb-active {
            opacity: 1;
        }
    }
}

.body-product {
    background-color: #fefefe;
    box-shadow: 0 rem(5) rem(20) rgba(0, 0, 0, 0.08);
    @include adaptive-value("padding", 30, 15);
    // .body-product__header
    &__header {
        border-bottom: rem(1) solid $color-silver;
        padding-bottom: rem(30);
    }

    // .body-product__table
    &__table {
        border-bottom: rem(1) solid $color-silver;
        padding-bottom: rem(30);
        padding-top: rem(30);
    }

    // .body-product__options
    &__options {
        border-bottom: rem(1) solid $color-silver;
        padding-bottom: rem(30);
        padding-top: rem(30);
    }

    // .body-product__actions
    &__actions {
        border-bottom: rem(1) solid $color-silver;
        padding-bottom: rem(30);
        padding-top: rem(30);
    }
}

.header-product {

    // .header-product__line
    &__line {
        display: flex;
        align-items: center;
        column-gap: rem(10);
        row-gap: rem(10);
        &:not(:last-child) {margin-bottom: rem(15);}
        @media (max-width: #{$mobileSmall + px}){
            flex-wrap: wrap;
        }
    }

    // .header-product__title
    &__title {
        font-weight: 600;
        font-size: rem(24);
        line-height: math.div(29 , 24);
        flex: 1 1 100%;
    }

    // .header-product__link
    &__link {
        color: $mainColor;
        font-size: rem(24);
        transition: all 0.3s ease 0s;
        @media (any-hover: hover){
            &:hover{
                color: $color-red;
            }
        }
        &.__icon-favourite {
            color: $color-red;
            @media (any-hover: hover){
                &:hover{
                    transform: scale(1.16);
                }
            }
        }
    }

    // .header-product__rating
    &__rating {
    }
}

.table-product {
    display: grid;
    row-gap: rem(20);
    // .table-product__label
    &__label {
        align-self: center;
        font-weight: 600;
    }

    // .table-product__value
    &__value {
        color: $color-grey;
    }
    @media (min-width: #{$mobile + px}){
        grid-template-columns: rem(210) 1fr;
    }
}
.options-product {
    display: grid;
    row-gap: rem(20);
    align-items: center;
    // .options-product__label
    &__label {
    }

    // .options-product__value
    &__value {
    }
    @media (min-width: #{$mobile + px}){
        grid-template-columns: rem(210) 1fr;
    }
}
.actions-product {

    // .actions-product__price
    &__price {
        font-size: rem(30);
        line-height: math.div(37 , 30);
        font-weight: 500;
        display: inline-flex;
        flex-direction: row-reverse;
        align-items: center;
        &:not(:last-child) {margin-bottom: em(35, 30);}
    }

    // .actions-product__row
    &__row {
        display: flex;
        align-items: center;
        gap: rem(20);
        @media (max-width: em(1370)){
              flex-direction: column;
              align-items: flex-start;
        }
    }

    // .actions-product__quantity
    &__quantity {
    }

    // .actions-product__btns
    &__btns {
        display: flex;
        gap: rem(20);
        flex: 1 1 auto;
        @media (max-width: em(1370)){
            width: 100%;
        }
        @media (max-width: em(600)){
            flex-wrap: wrap;
        }
    }

    // .actions-product__cart
    &__cart {

        @media (max-width: em(1370)){
            flex: 0 1 50%;
        }
        @media (max-width: em(600)){
            flex: 0 1 100%;
        }

        &.btn {

            box-shadow: 0 rem(4) rem(25) rgba(248, 30, 30, 0.1);
            @media (any-hover: hover){
                &:hover{
                    box-shadow: 0 rem(4) rem(30) rgba(240, 39, 39, 0.35); 
                }
            }
            span {
                display: inline-flex;
                align-items: center;
                flex-direction: row-reverse;
                gap: rem(10);
                font-size: rem(18);
            }
        }
    }

    // .actions-product__order
    &__order {
        display: flex;
        justify-content: center;
        align-items: center;
        @media (max-width: em(1370)){
            flex: 0 1 50%;
        }
        @media (max-width: em(600)){
            flex: 0 1 100%;
        }
    }
}
