.products-slider {

    // .products-slider__container
    &__container {
    }

    // .products-slider__header
    &__header {
        &:not(:last-child) {
            @include adaptive-value("margin-bottom", 40, 25);
        }
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    // .products-slider__title
    &__title {
        font-weight: 700;
        @include adaptive-value("font-size", 30, 22, 992, 320, 1);
        line-height: math.div(46 , 30);
        letter-spacing: 0.05em;
    }

    // .products-slider__more
    &__more {
        font-weight: 600;
        color: $color-grey;
        display: inline-flex;
        align-items: center;
        flex-direction: row-reverse;
        gap: em(8,18);
        transition: all 0.3s ease 0s;
        &::before{
            @extend %ic;
            font-size: rem(18);
            color: $color-grey;
            transition: all 0.3s ease 0s;
         }
        @media (any-hover: hover){
            &:hover{
                color: rgba(0, 0, 0, 1);
                &::before {
                    transform: scale(1.15);
                    color: rgba(0, 0, 0, 1);
                }
            }
        }
        @media (min-width: rem(550)){
            &::before {
                content: "\e913";
            } 
        }
        @media (max-width: rem(550)){
            & span {
                display: none;
            }
            &::before {
                content: "\e914";
                transform: scale(1.15);
            } 
        }

    }

    // .products-slider__slider
    &__slider {
        padding: rem(25) rem(15);
        margin: 0 rem(-15);
    }

    // .products-slider__swiper
    &__swiper {
        &:not(:last-child) {@include adaptive-value("margin-bottom", 50, 30);}
    }

    // .products-slider__slide
    &__slide {        
    }

    // .products-slider__dotts
    &__dotts {
        transform: translate(0px, 10%);
        display: grid;
        grid-auto-flow: column;
        justify-content: center;
        //gap: rem(20);
        margin: 0 auto;
        overflow: hidden;
        .swiper-pagination-bullet {
            margin: 0 rem(10);
            cursor: pointer;
            height: rem(30);
            width: rem(20);
            position: relative;
            transition: all 0.3s ease 0s;
            &::after{
                content:'';
                position: absolute;
                height: rem(3);
                width: 100%;
                top: 50%;
                transform: translateY(-50%);
                background-color: $color-silver;
                transition: all 0.3s ease 0s;
            }
            &::before{
                content:'';
                position: absolute;  
                z-index: 2;
                top: 50%;
                left: 0;
                height: rem(10);
                width: rem(2);
                transform: translateY(-50%);
                background-color: $color-red;
                box-shadow: 0 0 rem(20) rem(3) rgba(248, 30, 30, 0.4);
                opacity: 0;
            }
        }
        .swiper-pagination-bullet-active {
            width: rem(35);
            &::after{
                background-color: $color-red;
            }
            &::before{
                left: rem(35);
                opacity: 1;
                transition: left 4s linear 0s;
            }
        }
    }
}
.product-card {
    display: grid;
    height: 100%;
    grid-auto-flow: row;
    grid-template-rows: auto 1fr;
    // display: flex;
    // flex-direction: column;
    // height: 100%;

    box-shadow: 0 rem(4) rem(20) rgba(0, 0, 0, 0.15);
    transition: all 0.3s ease 0s;
    @media (any-hover: hover){
        &:hover{
            box-shadow: 0 rem(4) rem(25) rgba(0, 0, 0, 0.3);
            .product-card__img-ibg img {
                transform: scale(1.24);
            }
            .item-catalog-cards__title {
                &::after{width: 100%;}
            }
        }
    }

    // .product-card__img-ibg
    &__img-ibg {
        padding: 0 0 prc(1280,1920) 0;
        //min-height: rem(250);
        overflow: hidden;
        position: relative;
        & img {
            position: absolute;
            width: 100%;
            height: 100%;
            top: 0;
            left: 0;
            object-fit: cover;
            object-position: center;
            transform: scale(1.2);
            transition: all 0.3s ease 0s;
        }
    }

    // .product-card__body
    &__body {
        padding: rem(20);
        display: flex;
        flex-direction: column;
    }

    // .product-card__title
    &__title {
        flex: 1 1 auto;
        min-height: rem(102);
        font-size: rem(20);
        line-height: math.div(34 , 20);
        font-weight: 600;
        &:not(:last-child) {margin-bottom: rem(15);}
        @media (any-hover: hover){
            &:hover{
                text-decoration: underline;
            }
        }
    }

    // .product-card__link-title
    &__link-title {
        color: $mainColor;
    }

    // .product-card__materials
    &__materials {
        @include adaptive-value("font-size", 18, 15, 992, 320, 1);
        color: $color-grey;
        line-height: math.div(25 , 18);
        min-height: rem(50);
        &:not(:last-child) {margin-bottom: em(10, 18);}
    }

    // .product-card__rating
    &__rating {
        &:not(:last-child) {margin-bottom: rem(26);}
        align-items: center;
        justify-content: space-between;
    }

    // .product-card__footer
    &__footer {
        padding: rem(20) 0 ;
        border-top: 1px solid rgba($color: $color-grey, $alpha: .5);
        display: flex;
        gap: rem(15);
        align-items: center;
    }

    // .product-card__price
    &__price {
        flex: 1 1 auto;
        display: inline-flex;
        align-items: center;

        font-weight: 600;
        @include adaptive-value("font-size", 24, 20, 992, 320, 1);
        line-height: math.div(34 , 20);
        &::before{
            order: 2;     
        }
    }

    // .product-card__compare
    &__compare {
        font-size: rem(24);
        color: $mainColor;
        transition: all 0.3s ease 0s;
        @media (any-hover: hover){
            &:hover{
                color: $color-red;
            }
        }
    }

    // .product-card__favourite
    &__favourite {
        font-size: rem(24);
        color: $color-red;
        transition: all 0.3s ease 0s;
        @media (any-hover: hover){
            &:hover{
                transform: scale(1.16);
            }
        }
    }

    // .product-card__btn
    &__btn.btn {
        width: 100%;
        box-shadow: 0 rem(4) rem(25) rgba(248, 30, 30, 0.1);
        @media (any-hover: hover){
            &:hover{
                box-shadow: 0 rem(4) rem(30) rgba(240, 39, 39, 0.35); 
            }
        }
        & span {
            display: inline-flex;
            align-items: center;
            flex-direction: row-reverse;
            @include adaptive-value("font-size", 20, 16, 992, 320, 1);
            &::before{
                font-size: rem(20);
                margin-left: rem(5);
            }
        }

    }
}
