@use "sass:math";

@import "base/mixins";


@import "fonts"; // local fonts
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@500;600;700&display=swap');


@import "icons"; // icon fonts


@import "base/_functions";


// todo *Variables*
$fontFamily: "Montserrat";
$fontSize: rem(18); // maket font in brackets
$mainColor: #000;
$color-black: #141414;
$color-red: #d36969;
//$color-red: #c45959;
$color-silver: rgba(192, 192, 192, 0.849);
$color-grey: rgba(0, 0, 0, 0.7);


$minWidth: 320;
$maxWidth: 1920;
$maxWidthContainer: 1370;
$containerPadding: 30;
$containerWidth: $maxWidthContainer + $containerPadding;

$pc: $maxWidthContainer;
$tablet: 991.98;
$mobile: 767.98;
$mobileSmall: 479.98;


// todo *Nullstyle, Common parameters*
@import "base/_nullstyle";

body {
    font-family: $fontFamily;
	font-size: $fontSize; 
    font-weight: 500;
    color: $mainColor;
    &._lock {
        overflow: hidden;
        //touch-action: none;
    }
}

.wrapper {
	display: flex;
	flex-direction: column;
	width: 100%;
	min-height: 100%;
	overflow: hidden;

    > main {flex: 1 1 auto;}
    > * {min-width: 0;} // fix for sliders
}

[class*="__container"] {
    max-width: rem($maxWidthContainer);
	margin: 0 auto;
	padding: 0 15px;
    @media (max-width: #{$pc + px}) {max-width: rem(970);}
    @media (max-width: #{$tablet + px}) {max-width: rem(750);}
    @media (max-width: #{$mobile + px}) {max-width: none;}
}

._ibg {
    position: relative;}
._ibg img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

@import "header"; 
@import "footer";

@import "product-slider";
@import "product-new";
@import "product-recommend";

@import "home";

@import "common";


.page {

    // .page__home
    &__home {
    }

    // .page__main-block
    &__main-block {
        position: relative;
    }
    
    // .page__catalog-cards
    &__catalog-cards {
    }

    // .page__hit-products
    &__hit-products {
    }

    // .page__new-products
    &__new-products {
    }

    // .page__recomend-products
    &__recomend-products {
    }

    // .page__best-products
    &__best-products {
    }
    
    // .page__articles-module
    &__articles-module {
    }
}

